$background-color: #f9fafb; 
$background-color-hover: #f1f1f1;
$header-text-color: #ffb74d;
$background-button-color: #ffb74d;
$background-button-color-hover: #e53935;
$delete-button-colo: #d32f2f;
$text-color: #333333;
$muted-text-color: #757575;

$font-family-primary: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;
$font-weight-normal: 400;
$font-weight-bold: 700;

$box-shadow-post: 0 4px 6px rgba(0, 0, 0, 0.1);